#cuadro {
    display: flex;
    padding: 20px 20px 20px;
    margin: 25px 450px;
    background-color: #ceb4c9;
    color: #fff;
    align-items: center;
    gap: 15px;
}

.button-blue {
    padding: 9px 20px;
    background-color: blue;
    color: #fff;
    border: 0px;
}